<h1>Use this page to view and edit all gym sessions</h1>

<p> </P>
<h2> <a href="/sessions/new_session">Add new session</a> </h2>
<h2> <a href="/sessions/time_session">View sessions still to start</a> </h2>
<p></P>
<p> ------------------------------------</P>
  <% @session.each do |sess| %>
    <p> Name          : <%=sess.session_name %> </p>
    <p> Capacity      : <%=sess.capacity %> </p>
    <p> Cost          : <%=sess.cost %> </p>
    <p> Time          : <%=sess.session_time %> </P
    <p> Session ID    : <%=sess.id %> </P>
    <p>  </P>
    <p>
      <a href="/sessions/edit_session/<%= sess.id%>/edit">Update session</a></p>
      <p>
      <a href="/sessions/show_session/<%= sess.id%>/delete">Delete session</a></p>
      <a href="/sessions/show_attendance/<%= sess.id%>">Show all booked into class</a></p>


    <p> ------------------------------------</P>
    <p> </P>


    <p></p>
  <% end %>
