<h1> Please use this page to view and edit all member data</h1>

<p> </P>
<h2> <a href="/members/new">Add new member</a> </h2>
<p></P>
<p> ------------------------------------</P>
  <% @member.each do |mem| %>
    <p> Name          : <%=mem.first_name + " " + mem.last_name %> </p>
    <p> Contact number: <%=mem.phone_number %> </p>
    <p> Email         : <%=mem.email %> </p>
    <p> Membership ID : <%=mem.id %> </P>
    <p>  </P>
    <p>
      <a href="/members/edit/<%= mem.id%>">Update Member</a></p>
      <p>
      <a href="/members/delete/<%= mem.id%>">Delete Member</a></p>


    <p> ------------------------------------</P>
    <p> </P>


    <p></p>
  <% end %>
