<h1>View bookings here:</h1>

<p> </P>
<h2> <a href="/new_booking">Add new booking:</a> </h2>
<p></P>
<p> ------------------------------------</P>
    <% @booking.each do |each| %>
    <p> Booking ref   : <%= each.id %> </p>
    <p> Member        : <%= each.member.first_name %> <%= each.member.last_name %></p>
    <p> Member ref   : <%= each.member.id %> </p>
    <p> Session ref   : <%= each.session.id %> </p>
    <p> Session name   : <%= each.session.session_name %> </p>


    <p>
      <a href="/edit_booking/<%= each.id%>/edit">Update booking</a></p>
      <p>
      <a href="/show_booking/<%= each.id%>/delete">Delete booking</a></p>

    <%end%>
    <p> ------------------------------------</P>
    <p> </P>


    <p></p>
